h1{
	text-align: center;
}
.form-padding {
	padding: 3% 35%;
	display: none;
}

.padding{
	margin-top: 10px;
}
#liste {
 text-align: left;
}
#radHomme, #radFemme {
	display: inline-block;
	float: left;
}
#liste {
	font-size: 2em;
}
.tailleText {
	font-size: 2.5em;
	text-align: center;
}
#tailleContact {
	font-size: 1.5em;
}
#table {
	width: 1500px;
	height: 1000px;
	margin:  30%;

}
#calendar {
	width:400px ;
	height:400px ;
	margin-top: 90px;
	position:absolute;
	top: 0px;
	float: left;
}
h3{
	color: #65537A;
}
#suitecalendar {
	position:absolute;
	margin-top: 270px;
}
#suitecalendar2 {
	position:absolute;
	margin-top: 300px;
}
#logo {
	width: 100px;
	height: 35px;
}
#table2 td {
	padding: 10px;
}
#table2 th {
	text-align: center;
}